
  <% if user_signed_in? %>
    user signed in as : <%= current_user.email %>
    <h3>
        et c'est tout (je t'avais prevenu(e), c'est nul)<br>
        <a href="https://www.youtube.com/watch?v=e9MRYNATwJo&t" target="_blank">
            pour me faire pardonner, clique ici
        </a>
  <% else %>
  <div class="d-flex align-items-center justify-content-center">
    <h1>
        veuillez vous connecter
    </h1>
  </div>
  <% end %>